.cahee {
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 150px;

    &__heading {
        text-align: center;
        padding-top: 60px;

            &_title {
                font-size: 40px;
                padding-bottom: 20px;
            }

        &_text-wrap {
            font-size: 17px;
            width: 350px;
            margin: 0 auto;
        }
    }

    &__content {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        padding-top: 60px;

        &_form-holder {
            display: flex;
            flex-direction: column;

            .cahee__form {
                &_input input{
                    height: 50px;
                    width: 500px;
                    padding-left: 20px;
                    margin-bottom: 20px;
                    border: 0;
                    background-color: rgba(#00C4C4, .4);
                    filter: blur(2);
                    outline: none;
                    transition: all ease-in-out 0.5s;
                    color: white;
                    max-width: 100%;
                }

                input::-webkit-input-placeholder {
                    color: white;
                }

                textarea::-webkit-input-placeholder {
                    color: white;
                }

                &_input input:focus {
                    background-color: #00C4C4;
                    border-left: 3px solid #355B82;
                    font-weight: 700;
                }

                &_input textarea {
                    height: 250px;
                    width: 500px;
                    padding-left: 20px;
                    padding-top: 15px;
                    margin-bottom: 20px;
                    border: 0;
                    resize: none;
                    background-color: rgba(#00C4C4, .4);
                    filter: blur(2);
                    outline: none;
                    transition: all ease-in-out 0.5s;
                    color: white;
                    font-weight: 500;
                    max-width: 100%;
                }

                &_input textarea:focus {
                    background-color: #00C4C4;
                    border-left: 3px solid #355B82;
                    font-weight: 700;
                }
            }
        }

        .cahee__contact-info {

            &_adress, &_email, &_phone {
                padding: 5px 0;
            }

            a {
                text-decoration: none;
                color: $black;
            }
        }
    }

    &__contact-info {
        display: flex;
        flex-direction: column;

        &_adress, &_email, &_phone {
            display: flex;
            flex-direction: column;
        }
    }

    &__copyright {
        background-color: #262626;
        padding: 30px 0;

        &_block {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
            align-items: center;
            color: #AFAFAF;

            .copyright__text-wrap {
                &_red {
                color: red;
                }
            }
        }
    }
}